header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 18vh;

  p {
    width: 63%;
    text-transform: uppercase !important;
    font-weight: 600;
    text-align: center;
    font-size: calc(
      17px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
    );
    letter-spacing: 0.045em;
  }

  h1 {
    padding-top: 3vh !important;
  }

  .mark-wrapper {
    // HACK: Fixing elements intersection rendering issues w/ rotate.
    transform: translateZ(0);
  }

  .mark-louislebras {
    margin-top: 1vh;
    width: 110px;
    animation: 5s linear infinite rotateMark;
  }

  @keyframes rotateMark {
    0% {
      transform: rotateY(60deg) translateZ(0);
    }

    100% {
      transform: rotateY(420.00001deg) translateZ(0);
    }
  }
}
