// Light Theme
$background: #ddd8d0;
$second-background: #e7e3de;
$type-color: #000;
$difference: #fff;

// Dark Theme
$background: #000;
$second-background: #002f37;
$type-color: #ddd8d0;
$second-type-color: #ffffff;
$difference: #fff;

// All comments are also created by me (@louislebras)
// I'm also a developer.
// I don't wait anyone to see my vision alive.
// Be the major actor of your life.
// It's now. Don't waste your time.
